@model Tracker.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1> Create </h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class='mb-7'>
            <div class='e-btn-group custom-rbt-group'>
                
                    <input type="radio" id="radioleft" name="Type" value="Expense" />
                    <label class="e-btn" for="radioleft">Expense</label>
                    <input type="radio" id="radiomiddle" name="Type" value="Income" />
                    <label class="e-btn" for="radiomiddle">Income</label>
                </div>
            </div>
            <br />
            <div class="mb-7">
                <ejs-textbox id="Title" placeholder="Title" ejs-for="@Model.Title" floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />
            <div class="mb-7">
                <ejs-textbox id="Icon" placeholder="Icon" value="Icon"></ejs-textbox>
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            
            <br /> 
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
             
          </form>
       
    </div>
    
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>

</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
